<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="header">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Resume</a></li>
  </ul>
</div>
<section class="content">
  <div class="leftpanel">
    <div class="portrait">
      <img src="http://via.placeholder.com/150x150" />
    </div>
  
  </div>
  <div class="rightpanel">
    <%= yield %>
  </div>
</section>

  
</body>
</html>
